.card{

  background:white;

  padding:25px;

  border-radius:15px;

  width:260px;

  box-shadow:0 8px 20px rgba(0,0,0,0.08);

  transition:all .3s;

  border-left:5px solid #4caf50;
}

.card:hover{

  transform:translateY(-8px) scale(1.02);

  box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.card h3{

  color:#2e7d32;

  margin-bottom:10px;

  font-size:20px;
}

.card p{

  color:#666;

  font-size:14px;
}